# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/
ENV/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Secrets
.env
.env.*

# IDE/OS
.vscode/
.DS_Store
